h1 {
	color: #000000;
	font-family: Arial;
	font-size: 35;
	text-align: center;
}
.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;

}

.popupview:hover {
box-shadow: 0 0 5px #007777;
}
.popupview {
width: 50px;
margin-left: 23%;
margin-right: 27%;
border-radius: 50px;
}

.popuplink:hover {
text-decoration: none;
color: #00bbff;
}
.popuplink {
padding: 10px;
padding-right: 30px;
}

.mainpopup {
	width: 600px;
	height: 180px;
	margin: auto;
	margin-top: 15%;
	background: #dadada;
	padding: 20px;
	box-shadow: 0 0 100px #000000;
	border-radius: 5px;
}
.container {
  width: 90%;
  height: 200px;
  margin: auto;
  padding: 0px;
}

.modal {
	background-image: url("bgmas.svg");
	background-size: 50% auto;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal background {
    opacity: 0.6;
}

.modal-content {
  background: linear-gradient(#efefef, #dedede);
  margin: auto;
  padding: 25px;
  width: 50%;
  opacity: 1;
}

.belowpage {
  height: auto;
  float: left;
	margin-left: 0%;
  width: 68%;
	text-align: left;
	font-size: 15;
	font-family: Arial;
	vertical-align: top;
	margin-top: 30px;
	background-color: #006666;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.secrow {
    background: #bcbcbc; 
}
.mainpage{
  height: auto;
  float: left;
  margin-right: auto;
	margin-left: 0%;
  width: 68%;
	text-align: left;
	font-size: 15;
	font-family: Arial;
	vertical-align: top;
	background: linear-gradient(#ffffff, #dddddd);
	color: #000000;
	background: #dddddd;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
  margin-bottom: 60px;
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
th {
	background: #008800;
	border: 1px solid #ddaa00;
	color: #ffffff;
}
.sidepanel3{
  height: auto;
	background-color: #efefef;
	background: linear-gradient(#efefef, #efefef);
  width: 25%;
	float: right;
	margin: auto;
	margin-right: 0%;
	margin-left: 1%;
	margin-top: auto;
	margin-bottom: 15px;
	padding-left: 0%;
	padding-top: 1%;
	padding-right: 0%;
	padding-bottom: 1%;
	vertical-align: top;
	color: black;
	font-family: Arial;
	font-size: 20;
}
.sidepanel2{
  height: auto;
	background: linear-gradient(#fefefe, #fefefe);
	background-color: #fefefe;
  width: 25%;
	margin: auto;
	margin-top: 5%;
	margin-right: 0%;
	float: right;
	vertical-align: top;
	color: black;
	font-family: Arial;
	font-size: 20;
}
.sidepanel{
  height: auto;
	background: linear-gradient(#ffffff, #ffffff);
  width: 25%;
	margin-left: auto;
  margin-right: 0%;
	background-color: #ffffff;
	margin-bottom: 15px;
	margin-top: auto;
	float: right;
	padding: 0%;
	vertical-align: top;
	color: black;
	font-family: Arial;
	font-size: 20;
}
.activepage {
    background-color: #4fa81c;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.linklist {
    list-style-type: none;
    overflow: hidden;
	background: linear-gradient(#fff711, #abff11);
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	font-family: Arial;
	text-decoration: none;
}
.listitems {
    position: relative;
	background: linear-gradient(#fff711, #abff11);
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	margin: auto;
}
.linklist ul {
    margin: 0;
    padding: 0;
    text-align:center;
}
.linklist ul li {
	margin-left: auto;
	margin-right: auto;
    padding: 0;
    display:inline-block;
    position: relative;
}
.linklist ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center;
}
.listitems:hover {
	background: linear-gradient(#11dfff, #10c100);
	color: #ffffff;
	text-decoration: none;
}
.activepage:hover {
	background: linear-gradient(#10c100, #10c100);
	color: #00ffff;
	text-decoration: none;
}
.maintable {
	padding:0 100px 0 70px;
}
.table_s {
	border: 0px;
	table-layout: fixed;
    	width: 100%;
}
body {
	color: black;
	font-family: Arial;
	font-size: 15;
	background: linear-gradient(#cc027c, #ea0000);
	background-image: url("bgmas.svg");
	background-size: 5% auto;
}
img {
	text-align: center;
    width: 100%;
}
a {
	color: #007777;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	color: #000000
}
.ge {
	width: 75%;
	text-align: left;
}
img[alt="www.000webhost.com"]
{
    display:none;
}

@media screen and (max-width:1000px) {
    .mainpage{
        width: 62%;
    }
}
@media screen and (max-width:680px) {
    .banner {
	    width: 110%;
        margin: auto;
	}
    .linklist ul li {
        display:block;
        position: absolute;
    }
    body {
	    font-size: 20;
    }
    .mainpage{
        width: 89%;
        margin: auto;
        margin-bottom: 10px;
    }
    .sidepanel3{
        height: auto;
        width: 100%;
	    float: left;
	    font-size: 20;
    }
    .sidepanel2{
        height: auto;
        width: 100%;
	    float: left;
	    font-size: 20;
    }
    .sidepanel{
        height: auto;
        width: 100%;
	    float: left;
	    font-size: 20;
    }
    h1 {
        font-size: 32;
    }
    h2 {
        font-size: 24;
    }

    .linklist{
        width: 190px;
    }
}
@media screen and (min-width:1280px) {
    .banner {
	    width: 800px;
	}
    body {
	    font-size: 18;
    }
)
